{% extends 'base.html'%}

{% block title %}
	WELCOME!
{% endblock%}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron" style="background:#f5f5f5;">
	<h1 class="display-4">¡El futuro es hoy viejo!🚀</h1>
	<p class="lead">Desarrollamos tecnología y compartimos conocimiento. Trabajamos por el futuro que queremos ver.</p>
	<hr class="my-4">
	<p>👨🏻‍💻 Creamos, 🙌 Compartimos y 👥Colaboramos para ver el futuro que queremos hoy.</p>
	<p class="lead">
	<a class="btn btn-primary btn-lg" target="_bank" href="http://futurelab.mx" role="button">
		Wacha más   
		<i class="fas fa-rocket fa-spin"></i> 
	</a>
	</p>
</div>

<!-- Meet us -->
<div class="container">

<h1 class="display-4"> ¡Conócenos! </h1>
<br>

<div class="row columns container">

	{% for member in members %}
		<div class="column is-one-third" style="margin-right: 50px; margin-left: 50px; text-align: center;">
			<!-- Photo -->
			<img style="width: 200px; height: 200px" src="{{ member['Photo_link'] }}" alt="{{ member['Name'] }}" class="img-fluid rounded-circle">

			<!-- Name -->
			<a href="{{ member['Social'] }}" target="_bank">
					<p class="card-title" style="font-size:1.5em; font-family:sans-serif; margin-bottom:0;">{{ member['Name'] }}</p>
			</a>			

			<!-- Position -->
			<p class="card-text" style="margin-top:0; margin-bottom:5px;"><small class="text-muted">{{ member['Position'] }} </small></p>

			<!-- Description -->
			<p class="card-text" style="width: 250px; font-family: sans-serif; line-height:20px; margin-bottom: 30px">{{ member['Description'] }}</p>


		</div>
	{% endfor %}

</div>

</div>

{% endblock %}