{% extends 'base.html'%}

{% block title %}
	Jalo
{% endblock%}

{% block adds %}
	<style type="text/css">
		.box {
			width: 50%;
			border:1px solid lightgray;
			margin-top: 20px;
			padding: 10px 10px 10px 10px;
		}

		footer {
			position:fixed;
		    width: 100%;
		}

	</style>
{% endblock%}

{% block content %}
<form class="box rounded center container" method="POST">

	{% if not flag %}
	<div class="form-group">
		<label for="name">Nombre</label>
		<input required type="text" class="form-control" id="name" aria-describedby="Name" placeholder="Ingresa tu nombre" name="name">
	</div>

	<div class="form-group">
		<label for="phone">Número de teléfono</label>
		<input required name="phone_number" type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Ingresa tu número de teléfono">
	</div>

	{% else %}
		<div class="form-group">
			   <label for="verification_code">Ingresa tu código de verificación.</label>
			   <input required name="verification_code" type="text" class="form-control" id="verification" placeholder="Código de Verificación">
			   </input>
		</div>
	{% endif %}


	<button class="btn btn-success" style="">Submit</button>

</form>

{% endblock %}