{% extends 'base.html'%}

{% block title %}
	Únetenos
{% endblock%}

{% block adds %}
	<style type="text/css">
		.box {
			width: 50%;
			border:1px solid lightgray;
			margin-top: 20px;
			padding: 10px 10px 10px 10px;
		}

	</style>
{% endblock%}

{% block content %}
	

	<!-- Form
		- name
		- description
		- position
		- social media link
		- square photo
		- phone number
	 -->

		<form class="box rounded center container" method="POST">
	 	{% if flag %}
	 	<div class="alert alert-primary alert-dismissible fade show" role="alert">
	 	  <strong>¡Gracias por suscribirte {{ name.split(' ')[0] }}!</strong> ¡Ahora puedes iniciar sesión con tu nombre de usuario!
	 	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	 	    <span aria-hidden="true">&times;</span>
	 	  </button>
	 	</div>
	 	{% endif %}
	 	{% if repeat %}
	 	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	 	  <strong>Holy guacamole!</strong> El número de teléfono que ingresaste ya existe, lo siento, ingresa uno nuevo.
	 	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	 	    <span aria-hidden="true">&times;</span>
	 	  </button>
	 	</div>
	 	{% endif %}

	 {%if not vc%}

		  <div class="form-group">
		    <label for="name">Nombre</label>
		    <input required name="name" type="text" class="form-control" placeholder="Ingresa tu nombre"></input>
		  </div>
		  <div class="form-group">
		    <label for="description">Por favor, da una breve descripción tuya como la del ejemplo de abajo.</label>
		    <textarea name="description" required class="form-control" placeholder="Estudiante de física 💧 | Amante de la ciencia y la tecnología 🤖 | Divulgador científico 👨🏻‍🔬 | Obsesivo por los concursos y olimpiadas 🥇 | En búsqueda exhaustiva por conocimiento de todo tipo 🧐 | Jugador nada profesional de voleibol 🏐"></textarea>
		  </div>

		  <div class="form-group">
		  	<label for="position">Escribe tu posición en el Lab. A los nuevos miembros por favor pongan: "Community member"</label>
		     <input required name="position" type="text" class="form-control" placeholder="Community Member"></input>
		 </div>
		 <div class="form-group">
		    <label for="social">Ingresa un link de una red social tuya.</label>
		    <input required name="social" type="textarea" class="form-control" id="social" placeholder="http://facebook.com/... ó http://twitter.com/..."></input>
		  </div>

		  <div class="form-group">
		     <label for="phone_number">Ingresa tu número telefónico (Recibirás un mensaje con un código de verificación :D).</label>
		     <input required name="phone_number" type="text" class="form-control" id="phone" placeholder="477..."></input>
		   </div>

		  <div class="form-group">
		  	<label for="photo_link">Por favor, ingresa el link de una foto tuya</label>
		  	<input required name="photo_link" type="text" class="form-control" placeholder="http://facebook.com/my_photo.jpg"></input>
		  </div>

		  {% endif %}

		{% if vc %}
			<div class="form-group">
			   <label for="verification_code">Ingresa tu código de verificación.</label>
			   <input name="verification_code" type="text" class="form-control" id="verification" placeholder="Código de Verificación">
			   </input>
			 </div>
		{% endif %}

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>


		<hr>


		<!-- Example -->
		<center>
		<h1>Ejemplo:</h1>
		<div class="container">

		<div class="">
			<!-- Photo -->
			<img style="width: 200px; height: 200px" src="{{ member.photo }}" alt="{{ member.name }}" class="img-fluid rounded-circle">

			<!-- Name -->
			<a href="{{ member.social }}" target="_bank">
					<p class="card-title" style="font-size:1.5em; font-family:sans-serif; margin-bottom:0;">{{ member.name }}</p>
			</a>			

			<!-- Position -->
			<p class="card-text" style="margin-top:0; margin-bottom:5px;"><small class="text-muted">{{ member.pos }} </small></p>

			<!-- Description -->
			<p class="card-text" style="width: 250px; font-family: sans-serif; line-height:20px; margin-bottom: 30px">{{ member.description }}</p>


		</div>

	</div>	

	</center>

{% endblock %}